/*out-link*/
/* modal ---------------------------------------- */

.modal{
			display: none;
			height: 100vh;
			position: fixed;
			top: 0;
			width: 100%;
			z-index:999999;
		}
		.modal_bg{
			background-color:#ffffff;
			opacity: 0.5;
			filter: alpha(opacity = 50);
			height: 100vh;
			/*position: absolute;*/
			width: 100%;
			position: absolute;
		}
		.modal__content{
			background: #ffffff;
			left: 50%;
			padding: 40px;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 60%;
			font-size:1.2rem;
			font-weight:bold;
			border:1px solid #cccccc;
			border-radius: 12px;

		}
		@media all and (-ms-high-contrast:none){
			*::-ms-backdrop, .modal{
			left: 0%;
		}
			  *::-ms-backdrop, .modal_bg{
			left: 0%;
			display:block;
		}
  *::-ms-backdrop, .modal__content{  } /* IE11 */
}
		.modal__content p{
			width:85%;
			margin:10px auto;
			text-align:center;
		}
		.modal-btn {
			display:block;
			padding:10px;
			background:#EA9C5C;
			color:#ffffff;
			text-align:center;
			margin:10px;
			width:95%;
		}
		.modal-btn2 {
			display:block;
			padding:10px;
			background:#EA9C5C;
			color:#ffffff;
			text-align:center;
			margin:10px;
			width:95%;
		}
		.modal-btn3 {
			display:block;
			padding:10px;
			background:#EA9C5C;
			color:#ffffff;
			text-align:center;
			margin:10px;
			width:95%;
		}
		.modal-btn4 {
			display:block;
			padding:10px;
			background:#EA9C5C;
			color:#ffffff;
			text-align:center;
			margin:10px;
			width:95%;
		}
		.modal__content a:link {
			text-decoration:none;
			color:#ffffff;
			font-size:1.4rem;
			font-weight:bold;
		}
		.modal__content .modal-link-box {
			display:table;
			width:90%;
			margin:5px auto;
		}
		.modal__content .modal-link-box .modal-link-box-inner {
			display:table-cell;
			width:50%;
			padding: 10px;
		}



		@media screen and (max-width: 768px)
 {
 			.modal__content{
			background: #ffffff;
			left: 50%;
			padding: 40px;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 80%;
			font-size:1.2rem;
			font-weight:bold;
			border:1px solid #cccccc;
			border-radius: 12px;

		}
 			.modal__content p{
			width:100%;
			margin:10px auto;
			text-align:left;
		}
    				.modal__content .modal-link-box .modal-link-box-inner {
			display:block;
			width:100%;
			padding: 10px;

}
}
