@charset "UTF-8";
/*
NORMALIZE
------------------------------------------------------------------
TAG NATURES
*/
*,
*:before,
*:after,
html,
body											{ box-sizing: border-box; }
*,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
picture,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video											{ margin: 0; padding: 0; border: 0; outline: 0; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section										{ display: block; }
blockquote,
q													{ quotes: none; }
ul,
ol												{ list-style: none; }
a													{ background-color: transparent; color: currentColor; margin: 0; padding: 0; vertical-align: bottom; text-decoration: none; border: none; outline: none; }
ins,
mark											{ background-color: transparent; color: currentColor; font-style: normal; font-weight: normal; text-decoration: none; }
del												{ text-decoration: line-through; }
abbr[title],
dfn[title]								{ border-bottom: 1px dotted; cursor: help; }
input,
select										{ vertical-align: middle;}
em												{ font-style: normal; font-weight: bold; }
i,
blockquote,
address,
cite,
q													{ font-style: normal; }
abbr											{ text-decoration: none; border: none; }
