/*
ARCHITECTURE
------------------------------------------------------------------
display / display relative / pages / page relative / sizing
*/
@media screen {
	.grammar,
	.cl3 .vsb									{ display:                                                    none; }
	footer picture,
	footer a									{ display:                                            inline-block; }
	body,
	main,
	header,
	footer,
	article,
	h1,
	picture,
	header > div,
	nav,
	nav > ul,
	header > figure,
	dl > div,
	dl > div > dt,
	dl > div > dd,
	footer > ul,
	footer > ol,
	.vsb,
	.vsb > section,
	.bll,
	.dgl,
	.dgl > li,
	.lil dt div,
	.lil > dd > a,
	.lsb,
	.lsb > ul,
	.lsb > ul > li >  a,
	.vle,
	.cl3 article ol,
	.cl3 article ol li				{ display:                                                    flex; }
	.ddl											{ flex-direction:                                      row-reverse; }
	body,
	main,
	footer,
	article,
	dl > div > dt,
	dl > div > dd,
	.lil dt div								{ flex-direction:                                           column; }
	body,
	footer,
	header > figure,
	.vsb > section,
	.lsb >ul > li,
	.dgl > li,
	.lsb li a,
	.lil > dd > a							{ align-items:                                              center; }
	.dgl > li									{ justify-content:                                          center; }
	header > figure,
	.dgl,
	.lsb li a,
	.lil > dd > a							{ justify-content:                                   space-between; }
	#ati-toggle:before,
	#ati-toggle:after					{ position:                                               absolute; }
	img												{ object-fit:                                                cover; }
	#ati-toggle:before,
	#ati-toggle:after					{ top:                                                        50% ; }
	#ati-toggle:before,
	#ati-toggle:after					{ left:                                                       50% ; }
	.dvl dt,
	.dvl >dd									{ white-space:                                             initial; }
  blockquote > ol,
	blockquote > ul,
	.dvl > dt ul							{ padding-left:                                   calc( 24em / 15); }
	.sll > li									{ padding-left:                                   calc( 15em / 15); }
	.ddl > dt									{ margin-right:                                               auto; }
	html,
	body,
	ruby,
	.vsb											{ width:                                                     100% ; }
	img												{ height:                                                    100% ; }
	body,
	footer .current,
	.ddl,
	.lsb .current,
	.bll .current,
	.cl3 h2,
	.dvl > dt p,
	.dvl > dt span,
	.dvl > dt ul li						{ color:                                                   #3D4543; }
	h4 > strong								{ color:                                                   #FF0000; }
	#ati-toggle,
	.clt h2,
	.cl2 h2,
	.cl3 h3,
	.dil dt,
	.dvl dt,
	.dvl em,
	.lil dt,
	.gol li h5,
	.current,
	.ctl											{ color:                                                   #EA9C5C; }
	.dgl > li									{ color:                                                   #FFFFFF; }
	#ati-toggle								{ background:                                          transparent; }
	#ati-toggle:before,
	#ati-toggle:after					{ background:                                         currentColor; }
	html											{ font-family:                                          sans-serif; }
	header em,
	dt ul,
	.cl3 h2,
	.dvl > dt p,
	.dvl > dt span,
	.ddl > dt p								{ font-weight:                                              normal; }
	header li,
	.cl3 article dt,
	.ddl em										{ font-weight:                                                bold; }
	html											{ font-size:                                                75.0% ; }
	body											{ font-size:                                      calc( 15em / 12); }
	#ati-toggle								{ font-size:                                                     0; }
	blockquote								{ text-align:                                                 left; }
	.dgl > li									{ text-align:                                               center; }
	body,
	.ddl											{ line-height:                                    calc( 24em / 12); }
	h2,
	blockquote,
	.cl3 h3										{ line-height:                                    calc( 18em / 12); }
	footer > h5,
	nav > ul > li,
	picture,
	img												{ line-height:                                    calc( 12em / 12); }
	body											{ letter-spacing:                                 calc( -1em / 24); }
	.dvl dt div	a							{ word-break:                                            break-all; }
	body,
	header,
	.msb											{ background-color:                                        #FFFFFF; }
	footer,
	.lsb > ul > li >  a,
	.lil > dd > a							{ background-color:                                        #F4F4F4; }
	.ati-button								{ background-color:                                        #54565A; }
	a:hover										{ opacity:                                                     0.4; }
	.disabled									{ opacity:                                                     0.1; }
	#ati-toggle,
	a													{ opacity:                                                     1.0; }
	.dgl > li									{ background-color:                                        #EA9C5C; }
	.vsb											{ background-size:                                           cover; }
	.vsb											{ background-position:                                      center; }
	.vsb											{ background-image:     url("../images/common.keyvisual.base.jpg"); }
	header p									{ border:                                       solid #EA9C5C  1px; }
	footer > ul + ol					{ border-top:                                   solid #CFCBCB  1px; }
	.dgl,
	.dil,
	.dvl,
	.dvl + .ddl								{ border-top:                                   solid #CFCBCB  1px; }
	.jdi--ta									{ border-color:                                        transparent; }
	.dgl > li									{ border-radius:                                              50% ; }
	#ati-toggle								{ cursor:                                                  pointer; }
	.current									{ cursor:                                                  default; }
  blockquote > ol,
	blockquote > ul,
  .dvl > dt ul li						{ list-style-type:                                            disc; }
  #ati-toggle:before,
	#ati-toggle:after					{ content:                                                      ""; }
	.bll li + li::before			{ content:                                           "\2003>\2003"; }
  blockquote > h4::before	  { content:                                                 "\3010"; }
  .ddl >dt em::after				{ content:                                               "\00FF1A"; }
  blockquote > h4::after	  { content:                                                 "\3011"; }
	.disabled									{ pointer-events:                                             none; }
}

@media screen and (min-width:1320px) {
	#ati-toggle								{ display:                                                    none; }
	header > figure						{ flex-direction:                                      row-reverse; }
	header										{ flex-direction:                                   column-reverse; }
	.vsb,
	dl > div > dt,
	dl > div > dd							{ justify-content:                                          center; }
	header > div,
	footer > ul,
	.dil,
	.dvl,
	.gol,
	.lsb											{ justify-content:                                   space-between; }
	.lsb > ul									{ flex-wrap:                                                  wrap; }
	header > div							{ align-items:                                            flex-end; }
	.lsb											{ align-items:                                              center; }
	.dil,
	.dvl,
	.ddl											{ align-items:                                             stretch; }
	.lsb > ul									{ margin:                                                    -15px; }
	.lsb > ul > li 						{ margin:                                                     15px; }
	footer										{ margin-top:                                                240px; }
	main,
	.cl3 article h2 + h3,
	main > ul > li + li,
	.cl3 article .cvp + h3,
	.cl3 article dl + h3,
	.cl3 p + h3								{ margin-top:                                                120px; }
	footer > h5 + ul,
	.cl3 article h3 + p,
	.cl3 article p + ol,
	.cl3 article p + ul,
	.cl3 article p + dl,
	.cl3 article p + address,
	.cl3 article h3 + dl,
	.cl3 article dl + p,
	.cl3 p + blockquote,
	.cl3 article h3 + .sll,
	.cl3 article > section,
	.dvl dt > div + ul				{ margin-top:                                                 60px; }
	main > section + ul,
	main > section + article,
	footer > ul + ol,
	footer h6 + ul,
	.cl3 p + h4,
	.cl3 h4 + dl,
	.cl3 article p + .cvp,
	.gol + blockquote,
	.cl3 p  + p,
	.cl3 dl + blockquote,
	.dgl,
	.cl3 p + .lvp,
	.cl3 .lvp + dl,
	.dvl div + p							{ margin-top:                                                 30px; }
	header > div,
	footer > h5 + h5,
	footer > ol + small,
	.cl3 article h4 + ul,
	.gol h5 + p								{ margin-top:                                                 15px; }
	.lil div em + small				{ margin-top:                                                  5px; }
	.ddl > dt + dd						{ margin-right:                                               60px; }
	.lsb > h3,
	.lil > dt									{ margin-right:                                               auto; }
	footer > ol > li + li			{ margin-left:                                              2.50em; }
	header li + li						{ margin-left:                                              2.00em; }
	header p									{ padding:                                                     9px; }
	footer										{ padding:                                             120px   0px; }
	header										{ padding:                                              15px   0px; }
	.dil,
	.dvl,
	.dgl,
	.lil											{ padding:                                              30px   0px; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ padding:                                               0px  30px; }
	main > ul > li + li				{ padding-top:                                               120px; }
	footer > ul + ol,
	.dvl + .ddl								{ padding-top:                                                30px; }
	header > div							{ padding-top:                                                15px; }
	.dvl > dt									{ padding-right:                                              60px; }
	.ddl											{ padding-bottom:                                             15px; }
	.lsb > ul									{ padding-left:                                               45px; }
	.dil > dd,
	.lil > dd									{ padding-left:                                               30px; }
	header,
	footer > h5,
	footer > ul,
	footer > ol,
	footer > small,
	.lsb,
	.vsb > section						{ width:                                                    1200px; }
	.lsb > ul									{ width:                       calc(330px * 2 + 45px + 60px + 1px); }
	article,
	.cvp,
	.lvp											{ width:                                                     720px; }
	.clt .vsb h2,
	.kvp											{ width:                                                     600px; }
	.dvl > dt,
	.dvl > dt cite						{ width:                                                     420px; }
	.dvl .vde.large,
	.dvl .vde.largeS					{ width:                                                     408px; }
	.dil > dt,
	.dil > dd,
	.lsb > ul > li,
	.lil > dd > a							{ width:                                                     330px; }
	footer > ul > li + li			{ width:                                                     255px; }
	.dvl .vde									{ width:                                                     240px; }
	.dgl > li									{ width:                                                     220px; }
	header .vle,
	footer .vle.jp						{ width:                                                     200px; }
	.dvl dt.large							{ width:                                                     252px; }
	.gol > li									{ width:                                                     135px; }
	footer .vle.us						{ width:                                                     120px; }
	.ddl .vde									{ width:                                                      72px; }
	main > section,
	footer										{ width:                                                     100% ; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ height:                                                     60px; }
	.vie											{ height:                                          calc(15em / 12); }
	.lvp											{ height:                                                    720px; }
	.clt .vsb,
	.kvp											{ height:                                                    600px; }
	.dvl .vde.largeS					{ height:                                                    408px; }
	.cvp											{ height:                                                    270px; }
	.dvl .vde.large						{ height:                                                    255px; }
	.cl2 .vsb,
	.dvl .vde.help						{ height:                                                    240px; }
	.dgl > li									{ height:                                                    220px; }
	.dvl .vde									{ height:                                                    150px; }
	footer .vle.us						{ height:                                                     50px; }
	.ddl .vde									{ height:                                                     45px; }
	header .vle								{ height:                                                     30px; }
	footer .vle.jp						{ height:                                                     14px; }
	.clt h2,
	.cl2 h2										{ font-size:                                                  42px; }
	.cl3 h2,
	.dvl em										{ font-size:                                                  36px; }
	.clt h3,
	.cl2 h3										{ font-size:                                                  28px; }
	.cl3 h3										{ font-size:                                                  24px; }
	.bfs,
	.cl3 main > article				{ font-size:                                                  18px; }
	nav,
	.gol li p,
	.lil h4,
	.lsb > ul > li >  a	     	{ font-size:                                                  15px; }
	footer,
	h6,
	small,
	figure,
	ins,
	blockquote,
	.ddl,
	.lil small								{ font-size:                                                  12px; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ line-height:                                                60px; }
	.clt h2,
	.cl2 h2										{ line-height:                                     calc(60em / 45); }
	figure										{ line-height:                                                 9px; }
	body											{ border-top:                                   solid #EA9C5C 60px; }
	main > ul > li + li,
	header > div							{ border-top:                                   solid #EA9C5C  1px; }
	.dil,
	.dvl,
	.lil											{ border-top:                                   solid #CFCBCB  1px; }
	.dvl > dt									{ border-right:                                dashed #CFCBCB  1px; }
	header										{ border-bottom:                                solid #EA9C5C  2px; }
	main > article dl					{ border-bottom:                                solid #CFCBCB  1px; }
	.dil > dd,
	.lil > dd,
	.lsb > h3 + ul						{ border-left:                                 dashed #CFCBCB  1px; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ border-radius:                                              30px; }
}
@media screen and (min-width:769px) and (max-width:1320px) {
	#ati-toggle								{ display:                                                    none; }
	header > figure						{ flex-direction:                                      row-reverse; }
	header										{ flex-direction:                                   column-reverse; }
	.vsb,
	dl > div > dt,
	dl > div > dd							{ justify-content:                                          center; }
	header > div,
	footer > ul,
	.dil,
	.dvl,
	.gol,
	.lsb											{ justify-content:                                   space-between; }
	.lsb > ul									{ flex-wrap:                                                  wrap; }
	header > div							{ align-items:                                            flex-end; }
	.lsb											{ align-items:                                              center; }
	.dil,
	.dvl,
	.ddl											{ align-items:                                             stretch; }
	.lsb > ul									{ margin:                                calc(100vw *  -15 / 1320); }
	.lsb > ul > li 						{ margin:                                calc(100vw *   15 / 1320); }
	footer										{ margin-top:                            calc(100vw *  240 / 1320); }
	main,
	.cl3 article h2 + h3,
	main > ul > li + li,
	.cl3 article .cvp + h3,
	.cl3 article dl + h3,
	.cl3 p + h3								{ margin-top:                            calc(100vw *  120 / 1320); }
	footer > h5 + ul,
	.cl3 article h3 + p,
	.cl3 article p + ol,
	.cl3 article p + ul,
	.cl3 article p + dl,
	.cl3 article p + address,
	.cl3 article h3 + dl,
	.cl3 article dl + p,
	.cl3 p + blockquote,
	.cl3 article h3 + .sll,
	.cl3 article > section,
	.dvl dt > div + ul				{ margin-top:                            calc(100vw *   60 / 1320); }
	main > section + ul,
	main > section + article,
	footer > ul + ol,
	footer h6 + ul,
	.gol + blockquote,
	.cl3 p + h4,
	.cl3 h4 + dl,
	.cl3 p  + p,
	.cl3 article p + .cvp,
	.cl3 dl + blockquote,
	.dgl,
	.cl3 p + .lvp,
	.cl3 .lvp + dl,
	.dvl div + p							{ margin-top:                            calc(100vw *   30 / 1320); }
	header > div,
	footer > h5 + h5,
	footer > ol + small,
	.cl3 article h4 + ul,
	.gol h5 + p								{ margin-top:                            calc(100vw *   15 / 1320); }
	.lil div em + small				{ margin-top:                            calc(100vw *    5 / 1320); }
	.ddl > dt + dd						{ margin-right:                          calc(100vw *   60 / 1320); }
	.lsb > h3,
	.lil > dt									{ margin-right:                                               auto; }
	footer > ol > li + li			{ margin-left:                                              2.50em; }
	header li + li						{ margin-left:                                              2.00em; }
	header p									{ padding:                               calc(100vw *    9 / 1320); }
	footer										{ padding:                             calc(100vw *  120 / 1320) 0; }
	header										{ padding:                             calc(100vw *   15 / 1320) 0; }
	.dil,
	.dvl,
	.dgl,
	.lil											{ padding:                             calc(100vw *   30 / 1320) 0; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ padding:                             0 calc(100vw *   30 / 1320); }
	main > ul > li + li				{ padding-top:                           calc(100vw *  120 / 1320); }
	footer > ul + ol,
	.dvl + .ddl								{ padding-top:                           calc(100vw *   30 / 1320); }
	header > div							{ padding-top:                           calc(100vw *   15 / 1320); }
	.dvl > dt									{ padding-right:                         calc(100vw *   60 / 1320); }
	.ddl											{ padding-bottom:                        calc(100vw *   15 / 1320); }
	.lsb > ul									{ padding-left:                          calc(100vw *   45 / 1320); }
	.dil > dd,
	.lil > dd									{ padding-left:                          calc(100vw *   30 / 1320); }
	header,
	footer > h5,
	footer > ul,
	footer > ol,
	footer > small,
	.lsb,
	.vsb > section						{ width:                                 calc(100vw * 1200 / 1320); }
	.lsb > ul									{ width:                                 calc(100vw *  767 / 1320); }
	article,
	.cvp,
	.lvp											{ width:                                 calc(100vw *  720 / 1320); }
	.clt .vsb h2,
	.kvp											{ width:                                 calc(100vw *  600 / 1320); }
	.dvl .vde.large,
	.dvl .vde.largeS					{ width:                                 calc(100vw *  408 / 1320); }
	.dvl > dt,
	.dvl > dt cite						{ width:                                 calc(100vw *  420 / 1320); }
	.dil > dt,
	.dil > dd,
	.lsb > ul > li,
	.lil > dd > a							{ width:                                 calc(100vw *  330 / 1320); }
	footer > ul > li + li			{ width:                                 calc(100vw *  255 / 1320); }
	.dvl dt.large							{ width:                                 calc(100vw *  252 / 1320); }
	.dvl .vde									{ width:                                 calc(100vw *  240 / 1320); }
	.dgl > li									{ width:                                 calc(100vw *  220 / 1320); }
	header .vle,
	footer .vle.jp						{ width:                                 calc(100vw *  200 / 1320); }
	.gol > li									{ width:                                 calc(100vw *  135 / 1320); }
	footer .vle.us						{ width:                                 calc(100vw *  120 / 1320); }
	.ddl .vde									{ width:                                 calc(100vw *   72 / 1320); }
	main > section,
	footer										{ width:                                                     100% ; }
	.vie											{ height:                                          calc(15em / 12); }
	.lvp											{ height:                                calc(100vw *  720 / 1320); }
	.clt .vsb,
	.kvp											{ height:                                calc(100vw *  600 / 1320); }
	.dvl .vde.largeS					{ height:                                calc(100vw *  408 / 1320); }
	.cvp											{ height:                                calc(100vw *  270 / 1320); }
	.dvl .vde.large						{ height:                                calc(100vw *  255 / 1320); }
	.cl2 .vsb,
	.dvl .vde.help						{ height:                                calc(100vw *  240 / 1320); }
	.dgl > li									{ height:                                calc(100vw *  220 / 1320); }
	.dvl .vde									{ height:                                calc(100vw *  150 / 1320); }
	.lsb > ul > li >  a,
	.lil > dd > a							{ height:                                calc(100vw *   60 / 1320); }
	footer .vle.us						{ height:                                calc(100vw *   50 / 1320); }
	.ddl .vde									{ height:                                calc(100vw *   45 / 1320); }
	header .vle								{ height:                                calc(100vw *   30 / 1320); }
	footer .vle.jp						{ height:                                calc(100vw *   14 / 1320); }
	.clt h2,
	.cl2 h2										{ font-size:                             calc(100vw *   42 / 1320) }
	.cl3 h2,
	.dvl em										{ font-size:                             calc(100vw *   36 / 1320); }
	.clt h3,
	.cl2 h3										{ font-size:                             calc(100vw *   28 / 1320); }
	.cl3 h3										{ font-size:                             calc(100vw *   24 / 1320); }
	.bfs,
	.cl3 main > article				{ font-size:                             calc(100vw *   18 / 1320); }
	nav,
	.gol li p,
	.lil h4										{ font-size:                             calc(100vw *   15 / 1320); }
	.lsb > ul > li >  a				{ font-size:                             calc(100vw *   13 / 1320); }
	footer,
	h6,
	small,
	figure,
	ins,
	blockquote,
	.ddl,
	.lil small								{ font-size:                             calc(100vw *   12 / 1320); }
	.lsb > ul > li >  a,
	.lil > dd > a							{ line-height:                           calc(100vw *   60 / 1320); }
	.clt h2,
	.cl2 h2										{ line-height:                                     calc(60em / 45); }
	figure										{ line-height:                           calc(100vw *    9 / 1320); }
	body											{ border-top:              solid #EA9C5C calc(100vw *   60 / 1320); }
	main > ul > li + li,
	header > div							{ border-top:              solid #EA9C5C calc(100vw *    1 / 1320); }
	.dil,
	.dvl,
	.lil											{ border-top:             solid #CFCBCB  calc(100vw *    1 / 1320); }
	.dvl > dt									{ border-right:          dashed #CFCBCB  calc(100vw *    1 / 1320); }
	header										{ border-bottom:          solid #EA9C5C  calc(100vw *    2 / 1320); }
	main > article dl					{ border-bottom:          solid #CFCBCB  calc(100vw *    1 / 1320); }
	.dil > dd,
	.lil > dd,
	.lsb > h3 + ul						{ border-left:           dashed #CFCBCB  calc(100vw *    1 / 1320); }
	.lsb > ul > li >  a,
	.lil > dd > a							{ border-radius:                         calc(100vw *   30 / 1320); }
	.lsb > ul > li >  a				{ border-radius:                         calc(100vw *   30 / 1320); }
}
@media screen and (max-width:768px) {
	#ati-toggle,
	#ati-toggle:before,
	#ati-toggle:after					{ display:                                                   block; }
	.bll,
	.jdi--hd nav,
	.jdi--hd figure						{ display:                                                    none; }
	#ati-toggle,
	.jdi--hd									{ position:                                               relative; }
	.jdi--ha									{ position:                                                  fixed; }
	.jdi--hd									{ overflow:                                                 hidden; }
	header,
	header > div,
	header nav > ul,
	header > figure,
	.lil,
	.dil,
	.dvl,
	.gol,
	footer > ul,
	footer > ol,
	.lsb,
	.lsb > ul									{ flex-direction:                                           column; }
	.vsb > section						{ flex-direction:                                   column-reverse; }
	h1,
	header,
	.vsb											{ align-items:                                              center; }
	header,
	h1												{ justify-content:                                   space-between; }
	.vsb											{ justify-content:                                          center; }
	.jdi--td									{ margin:                                calc(100vw *   4 / 320) 0; }
	footer										{ margin-top:                              calc(100vw * 160 / 320); }
	main,
	main > ul > li + li,
	.cl3 p + h3,
	.cl3 dl + h3,
	.cl3 article .cvp + h3		{ margin-top:                              calc(100vw *  80 / 320); }
	footer > ul,
	footer > ul > li + li,
	footer > ol,
	footer > small,
	.dgl,
	.cl3 p + h4,
	.cl3 h3 + dl,
	.cl3 h3 + p,
	.clt .vsb h2,
	.lsb h3 + ul,
	.cl3 h2 + h3,
	.cl3 p + ol,
	.cl3 p + dl,
	.cl3 p + address,
	.cl3 dl + p,
	.cl3 p + blockquote,
	.cl3 dl + blockquote,
	.dvl dt > div + ul,
	.cl3 dl + blockquote,
	.cl3 article h3 + .sll,
	.cl3 article > section,
	.gol + blockquote					{ margin-top:                              calc(100vw *  40 / 320); }
	header nav li + li,
	main > section + ul,
	main > section + article,
	.dil,
	.jdi--ha nav,
	.lsb ul li + li,
	.gol li + li,
	.lil dd,
	.cl3 h4 + dl,
	.cl3 p + .lvp,
	.cl3 .lvp + dl,
	.cl3 article p + .cvp,
	.jdi--ha nav							{ margin-top:                              calc(100vw *  20 / 320); }
	header p + figcaption,
	footer > h5 + h5,
	footer h6 + ul,
	.cl3 article h4 + ul,
	.vle > .us + .jp,
	.dvl dt div + p,
	.dil dt + dd							{ margin-top:                              calc(100vw *  10 / 320); }
	main > section						{ margin-top:                              calc(100vw * -20 / 320); }
	.dvl > dt									{ margin-bottom:                           calc(100vw *  20 / 320); }
	.ddl > dt + dd						{ margin-right:                            calc(100vw *  20 / 320); }
	footer										{ padding:         calc(100vw *  80 / 320) calc(100vw *  20 / 320); }
	.dil,
	.dvl,
	.dgl,
	.lil											{ padding:                           calc(100vw *  20 / 320)   0px; }
	.lsb > ul > li >  a,
	.lil > dd > a							{ padding:                               0 calc(100vw *  18 / 320); }
	main > ul > li + li				{ padding-top:                             calc(100vw *  80 / 320); }
	footer > ol								{ padding-top:                             calc(100vw *  40 / 320); }
	header nav li + li,
	.dil,
	.dvl + .ddl,
	.dvl > dd,
	.lil dd										{ padding-top:                             calc(100vw *  20 / 320); }
	header figure,
	header .jdi--hd,
	.jdi--ha nav,
	.ddl											{ padding-bottom:                          calc(100vw *  20 / 320); }
	h1,
	header > div,
	header > figure,
	header p,
	header nav li,
	.cl3 main > article > *,
	footer > *,
	.kvp,
	.cvp,
	.lvp,
	.lsb,
	.lil,
	.dvl .vde									{ width:                                  calc(100vw * 280 /  320); }
	.vle.jp										{ width:                                  calc(100vw * 200 /  320); }
	header .vle								{ width:                                  calc(100vw * 140 /  320); }
	.vle.us										{ width:                                  calc(100vw * 120 /  320); }
	.dgl li										{ width:                                  calc(100vw *  80 /  320); }
	.ddl .vde									{ width:                                  calc(100vw *  72 /  320); }
	#ati-toggle								{ width:                                  calc(100vw *  30 /  320); }
	header,
	footer,
	dl > div > dt,
	#ati-toggle:before,
	#ati-toggle:after					{ width:                                                     100% ; }
	.clt .vsb									{ height:                                 calc(100vw * 498 /  320); }
	.kvp,
	.lvp,
	.dgl li,
	.dvl .vde.help,
	.dvl .vde.largeS					{ height:                                 calc(100vw * 280 /  320); }
	.cl2 .vsb									{ height:                                 calc(100vw * 198 /  320); }
	.dvl .vde									{ height:                                 calc(100vw * 175 /  320); }
	.cvp											{ height:                                 calc(100vw * 105 /  320); }
	.dgl li										{ height:                                 calc(100vw *  80 /  320); }
	.jdi--hd									{ height:                                 calc(100vw *  70 /  320); }
	h1												{ height:                                 calc(100vw *  60 /  320); }
	.vle.us										{ height:                                 calc(100vw *  50 /  320); }
	.ddl .vde									{ height:                                 calc(100vw *  45 /  320); }
	header .vle								{ height:                                 calc(100vw *  21 /  320); }
	.jdi--ta									{ height:                                 calc(100vw *  20 /  320); }
	.lsb > ul > li >  a,
	.lil > dd > a							{ height:                                 calc(100vw *  36 /  320); }
	.vle.jp										{ height:                                 calc(100vw *  14 /  320); }
	.vie,
	.jdi--td									{ height:                                 calc(100vw *  12 /  320); }
	#ati-toggle:before,
	#ati-toggle:after					{ height:                                 calc(100vw *   2 /  320); }
	.jdi--ha									{ height:                                                    100% ; }
	header figure							{ text-align:                                               center; }
	.clt h2,
	.cl3 h2,
	.clt h3,
	.cl3 h3,
	.dvl em										{ font-size:                              calc(100vw *  24 /  320); }
	.gol h5										{ font-size:                              calc(100vw *  15 /  320); }
	body,
	footer,
	h6,
	small,
	.bfs											{ font-size:                              calc(100vw *  12 /  320); }
	blockquote,
	.sll > li									{ font-size:                              calc(100vw *  10 /  320); }
	.dgl > li > h4						{ font-size:                              calc(100vw *   8 /  320); }
	.vsb h2										{ line-height:                                     calc(36em / 24); }
	h1												{ line-height:                            calc(100vw *  60 /  320); }
	p,
	.dvl ul,
	.dgl > li > h4						{ line-height:                                     calc(36em / 18); }
	footer > ol > li					{ line-height:                            calc(100vw *  24 /  320); }
	header										{ border-top:               solid #EA9C5C calc(100vw *  10 /  320); }
	main > ul > li + li				{ border-top:                                   solid #EA9C5C  1px; }
	.jdi--td									{ border-top:               solid #EA9C5C calc(100vw *   2 /  320); }
	header nav li + li,
	footer > ol,
	.lil											{ border-top:              solid #CFCBCB calc(100vw *    1 /  320); }
	.dil,
	.dvl > dd,
	.lil > dd									{ border-top:            dashed #CFCBCB  calc(100vw *    1 /  320); }

	header,
	.jdi--ha h1								{ border-bottom:            solid #EA9C5C calc(100vw *   2 /  320); }
	article dl								{ border-bottom:            solid #CFCBCB calc(100vw *   1 /  320); }
	.jdi--td									{ border-bottom:            solid #EA9C5C calc(100vw *   2 /  320); }
	.lsb > ul > li >  a,
	.lil > dd > a							{ border-radius:                         calc(100vw *   18 /  320); }
}

/*
FIXTURE
------------------------------------------------------------------
position / position relative / margin / padding
*/
@media screen {
}

@media (min-width:768px) {
}

@media (max-width:768px) {
}

/*
TYPOGRAPHY
------------------------------------------------------------------
font / font relative / body > navat / body > navat relative /
*/
@media screen {
}

@media (min-width:768px) and (max-width:1280px) {
}

@media (min-width:768px) {
}

@media (max-width:768px) {
	}
/*
TONE
------------------------------------------------------------------
swatch / pattern / channel / filter /
*/



/*
ORNAMENT
------------------------------------------------------------------
frame / border / icon / symbol / voice /  voice relative
*/
@media screen {
}

@media (min-width:768px) {
}

@media (max-width:768px) {
}

/*
INTERFACE
------------------------------------------------------------------
interaction / transition / animation
*/

a,
a img,
h1,
.clt h3 + ul > li h4,
#ati-toggle,
.jdi--ta:before,
.jdi--ta::after						{ transition:                                     all 0.10s linear; }
.jdi--td:before,
.jdi--td:after						{ transition:                          transform 0.25s ease-in-out; }
.jdi--td:before,
.jdi--td:after						{ will-change:                                           transform; }
.jdi--td:before,
.jdi--td:after						{ transform:                                 translate(-50%, -50%); }
.jdi--ta:before						{ transform:                  translate(-50%, -50%) rotate( 45deg); }
.jdi--ta:after						{ transform:                  translate(-50%, -50%) rotate(-45deg); }
