﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<h1>
    @Html.Sitecore().BeginField("Url",new { haschildren = true })
        <picture class="vle">
            @Html.Sitecore().Field("Image")
        </picture>
    @Html.Sitecore().EndField()
            <a id="ati-toggle" class="jdi--td"></a>
</h1>