﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="vsb">
    <!-- Bannertop -->
    <section>    
        <h2>@Html.Raw(@Html.Sitecore().Field("Title"))</h2>
        <picture class="kvp">
            @Html.Sitecore().Field("Image")
        </picture>
    </section>
    <!-- Bannertop -->
</div>