﻿@using Sitecore.Mvc
@model Sitecore.Data.Items.Item
<body class="cl2">
    <div class="vsb">

        <!-- Bannertop -->
        <section>
            <h2>@Html.Sitecore().Field("Title", Model)</h2>
        </section>
        <!-- Bannertop -->
    </div>
    <main>
        <section>
            <ol class="bll">
                <li>
                    @Html.Sitecore().BeginField("Url", Model.Parent, new { haschildren = true })
                    @Html.Sitecore().Field("Title", Model.Parent)
                    @Html.Sitecore().EndField()
                </li>
                <li>
                    @Html.Sitecore().BeginField("Url", Model, new { haschildren = true, @class = "current" })
                    @Html.Sitecore().Field("Title", Model)
                    @Html.Sitecore().EndField()
                </li>
            </ol>
        </section>
        <ul>
            <li>

                <section class="lsb">
                    <h3>
                        @Html.Sitecore().BeginField("Url", Model, new { haschildren = true })
                        @Html.Sitecore().Field("Title", Model)
                        @Html.Sitecore().EndField()
                    </h3>
                    <ul>
                        @foreach (var itemChild in Model.Children.InnerChildren)
                        {
                            <li>
                                @Html.Sitecore().BeginField("Url", itemChild, new { haschildren = true })
                                <h4>@Html.Sitecore().Field("Title", itemChild)</h4>
                                <picture class="vie">
                                    @Html.Sitecore().Placeholder("icon_button")
                                </picture>
                                @Html.Sitecore().EndField()
                            </li>
                        }


                    </ul>
                </section>
            </li>

        </ul>
    </main>
</body>



