﻿@using Sitecore.Mvc
@using Sitecore.Data.Items
@model List<Item>

    @foreach(var item in Model)
    { 
    <dl>
        <div class="dil">
            <dt>@Html.Sitecore().Field("Title", item)</dt>
            <dd>@Html.Raw(@Html.Sitecore().Field("Description", item))</dd>
        </div>
    </dl>
    }
