﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="ja">

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="robots" content="index, follow" />
        <title>MG Source｜MG（重症筋無力症）</title>
        <meta name="title" content="MG Source｜MG（重症筋無力症）" />
        <meta name="description" content="このサイトは重症筋無力症の患者さんとまわりのみなさん向けサイトです。患者さんの不安・不便の解消を目的としています" />
        <meta name="keywords" content="重症筋無力症,MG,胸腺摘除術,ステロイド治療,免疫抑制薬,抗コリンエステラーゼ薬,免疫グロブリン大量静注療法(IVlg),血液浄化療法,補体阻害薬（点滴）" />
        <meta property="og:locale" content="ja" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="MG Source｜MG（重症筋無力症）" />
        <meta property="og:title" content="MG Source｜MG（重症筋無力症）" />
        <meta property="og:url" content="" /><!-- TODO -->
        <meta property="og:image" content="~/Content/images/ogp.jpg" /><!-- TODO -->
        <meta property="og:image:alt" content="MG Source｜MG（重症筋無力症）" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:description" content="このサイトは重症筋無力症の患者さんとまわりのみなさん向けサイトです。患者さんの不安・不便の解消を目的としています" />
        <meta name="twitter:card" content="summary_large_image" />
        <link rel="preload" as="image" href="~/Content/images/icon.button.png" />
        <link rel="preload" as="image" href="~/Content/images/top.kv.png" />
        <link rel="preload" as="image" href="~/Content/images/common.logotype.site.png" />
        <link rel="preload" as="image" href="~/Content/images/common.logotype.us.png" />
        <link rel="preload" as="image" href="~/Content/images/common.logotype.japan.png" />
        @*<link rel="prefetch" as="image" href="~/Content/images/common.keyvisual.base.jpg" />*@
        <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon.jpg" /><!-- TODO -->
        <link rel="icon" type="image/jpeg" sizes="192x192" href="~/Content/images/favicon.jpg" /><!-- TODO -->
        <link rel="canonical" href="" /><!-- TODO -->
        <link rel="stylesheet" type="text/css" href="~/Content/styles/regulation.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/styles/style.css" />
    </head>

    <body>
        @*@Html.Sitecore().Placeholder("header")*@
        @Html.Sitecore().Placeholder("header")
        @Html.Sitecore().Placeholder("main")
        @Html.Sitecore().Placeholder("footer")
        <script src="~/Content/javascripts/menu.js"></script>
    </body>
</html>