﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<ol>
    <li><a href="https://alexionpharma.jp/legal/" target="_blank" rel="noopener noreferrer">リーガル</a></li>
    <li><a href="./sitemap/">サイトマップ</a></li>
</ol>
<small>@Html.Raw(@Html.Sitecore().Field("Description"))</small>